{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": 0,
    "no-mixed-operators": [
      "error",
      {"allowSamePrecedence": true}
    ],
    "react/jsx-filename-extension": 0
  }
}
